@model ForgotPasswordViewModel
@{
    Layout = "_loginlayout";
}

<h2>Şifremi Unuttum</h2>

<!-- LOGO -->
<div class="text-center mt-4">
    <img src="~/images/mtu-logo.png"
         alt="Proje Havuzu Logo"
         style="max-width:120px;"
         class="img-fluid" />
</div>


<form asp-action="ForgotPassword" method="post">

    <label>Email</label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>

    <br />

    <button type="submit" class="btn btn-primary">
        Mail Gönder
    </button>

</form>
