@using Microsoft.AspNetCore.Identity
@using ProjeHavuzu.Data.Entites.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
       
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center"
                   data-bs-toggle="dropdown">

                    <i class="bi bi-person-circle fs-4 me-2"></i>
                    
                    @if (User.Identity!.IsAuthenticated)
{
    <span class="nav-link">
        Merhaba <strong>@User.FindFirst("FullName")?.Value</strong>
    </span>
}

                                    </a>

                <ul class="dropdown-menu dropdown-menu-end shadow">
                    <li>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Profile">
                            Profilim
                        </a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <button class="dropdown-item text-danger">Çıkış Yap</button>
                        </form>
                    </li>
                </ul>
            </li>
        
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-controller="Account"
               asp-action="Login">
                Giriş Yap
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-controller="Account"
               asp-action="Register">
                Kayıt Ol
            </a>
        </li>
    }
</ul>
